* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.App {
  margin: 3rem 0 0 8rem;
}
.btn__container {
  margin-left: 2rem;
}
.buttons__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  border: 1px solid #ccc;
  padding: 3rem;
}
#space {
  margin: 1rem;
}
h2 {
  margin-top: 3rem;
  color: #ccc;
}
h1 {
  color: #ccc;
}
.icons {
  color: #000;
  background-color: #2281da;
  padding: 1rem 2rem;
  cursor: pointer;
}
